@media only screen
and (orientation : landscape) {

  html {
    font-size: 9vw;
  }

.button-container {
  width: 16.66%;
}

.button-shell {
  max-width: 25vh;
}

#display-shell {
  padding-top: 16.66%;
}

#clear-shell {
  max-width: 25vh;
  padding-top: 100%;
  border-radius: 50%;
}

#clear {
  border-radius: 50%;
}

#display {
  font-size: 1.6rem
}

#display-container {
  order: 1;
}

#seven-container {
  order: 5;
}

#eight-container {
  order: 6;
}

#nine-container {
  order: 7;
}

#divide-container {
  order: 2;
}

#four-container {
  order: 11;
}

#five-container {
  order: 12;
}

#six-container {
  order: 13;
}

#multiply-container {
  order: 8;
}

#one-container {
  order: 17;
}

#two-container {
  order: 18;
}

#three-container {
  order: 19;
}

#subtract-container {
  order: 3;
}

#sign-container {
  order: 4;
}

#zero-container {
  order: 10;
}

#decimal-container {
  order: 16;
}

#add-container {
  order: 9;
}

#clear-container {
  order: 14;
  width: 16.66%;
}

#equals-container {
  order: 15;
}
}
