* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 11vw;
}

body {
  width: 100%;
  height: 100vh;
  font-family: nova mono;
}

.calculator {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  height: 100%;
  background-color: hsl(60, 50%, 98%)
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
}

.btn-shell {
  position: relative;
  width: 100%;
  max-width: 16.66vh;
  padding-top: 100%;
  border-radius: 50%;
}

.btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 3%;
  bottom: 3%;
  left: 3%;
  right: 3%;
  border-radius: 50%;
  border: 1px solid #ddd;
  box-shadow: 2px 2px 4px #888866;
  background-color: hsl(60, 50%, 98%);
}

#display-container {
  width: 100%;
}

#clear-container {
  width: 75%;
}

#display-shell {
  width: 100%;
  max-width: none;
  padding-top: 25%;
}

#clear-shell {
  width: 100%;
  max-width: none;
  padding-top: 33.33%;
  border-radius: 30px;
}

#display {
  border: none;
  box-shadow: none;
  justify-content: flex-end;
  font-size: 1.3rem;
}

#clear {
  border-radius: 30px;
}

/* Push */
@-webkit-keyframes push {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes push {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.push {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.push:hover, .push:focus, .push:active {
  -webkit-animation-name: push;
  animation-name: push;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
