* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 11vw;
}

body {
  width: 100%;
  height: 100vh;
  font-family: nova mono;
}

.calculator {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  height: 100%;
  background-color: #fffff8
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
}

.button {
  position: relative;
  width: 100%;
  max-width: 16.66vh;
  padding-top: 100%;
  border-radius: 50%;
}

.button-content {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 3%;
  bottom: 3%;
  left: 3%;
  right: 3%;
  border-radius: 50%;
  border: 1px solid #ddd;
  box-shadow: 2px 2px 4px #888866;
  background-color: #fffff8;
}

#display {
  width: 100%;
}

#clear {
  width: 75%;
}

#inner-display {
  width: 100%;
  max-width: none;
  padding-top: 25%;
}

#inner-clear {
  width: 100%;
  max-width: none;
  padding-top: 33.33%;
  border-radius: 30px;
}

#display-content {
  border: none;
  box-shadow: none;
  justify-content: flex-end;
  font-size: 1.3rem;
}

#clear-content {
  border-radius: 30px;
}
